
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    position: relative;
    background-color: hsl(218, 22%, 67%);
    font-family: 'Karla', sans-serif;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 60%;
}


.intro{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-bottom: 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 30px;
    color:hsl(218, 22%, 67%);
}

.heading{
    color:hsl(179, 62%, 43%) ;
}

.sub-head-1{
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}

.para-1{
    line-height: 1;
    font-weight: 400;
    font-size: 16px;
}

.stats{
    display: flex;
    flex-direction: row;
}

.monthly-sub,.why-us{
    flex: 1;
    padding: 30px;
    color: hsl(204, 43%, 93%);
    font-weight: 400;
}

.reason{
    line-height: 1.5
    ;
    margin-top: 10px;
}

.monthly-sub{
    background-color:  hsl(179, 62%, 43%);
    border-bottom-left-radius: 10px;
    border-color:hsl(179, 62%, 43%) ;
}

.month{
    font-size: 45px;
    font-weight: 700;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.Price{
    opacity: 70%;
    color: hsl(204, 43%, 93%);
    font-size: 20px;
    padding-left: 20px;
}


.sign-up{
    background-color:hsl(71, 73%, 54%);
    text-decoration: none;
    border: none;
    border-radius: 10px;
    height: 25%;
    width: 90%;
    font-size: large;
    font-weight: 700;
    color: hsl(204, 43%, 93%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 15px auto 30px;
}

.why-us{
    background-color:  hsl(179, 53%, 57%);
    border-bottom-right-radius: 10px;
    border-color:hsl(179, 53%, 57%) ;
}

.attribution{
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 100px;
}


@media screen and (max-width: 800px) {
    body{
        height: auto;
        width: auto;
    }
    
    .stats{
        display: flex;
        flex-direction: column;
    }

    .sign-up{
        height: 60px;
    }

    .monthly-sub{
        border: none;
        border-radius: 0%;
    }

    .why-us{
        border-bottom-left-radius:10px;
        border-bottom-right-radius: 10px;
    }
    .main-container{
        width: 70%;
    }
}